.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;
  background-color: var(--bg-body);
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); */
  max-width: 1440px;
  margin: auto;
}
.navbar__logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.navbar__nav {
  display: flex;
  align-items: center;
  justify-items: end;
  gap: 2em;
}
.navbar__nav li {
  list-style: none;
}
.navbar__nav a {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 500;
}
